{% extends "layout.html" %}

{% block content %}

<div class="warp">
    <div class="main">
        <img src='../static/images/h_top.jpg' alt="画像">
    </div>
</div>


<div class="explanation">
    <div class="inner">
        <a>町民総監視カメラとは・・・</a>
        <br>
        <a>ポイントを集めて素敵な景品をもらおう・・・</a>
        <br>
        <a>他、サイト説明欄・・・</a>
        <br>
    </div>

    {% for s in range(size) %}
    <div class="top_offer">
        <p>年齢：{{users[s].age}}</p>
        <p>性別：{{users[s].gender}}</p>
        <p>事例：{{offers[s].example}}</p>
        <p>日にち：{{offers[s].date}}</p>
        <p>時間：{{offers[s].time}}</p>
        <p>場所：{{offers[s].place}}</p>
        <!-- <a><img src={{offers[s].photo1}}></a> -->
        <!-- <a><img src={{offers[s].photo2}}></a> -->
        <!-- <a><img src={{offers[s].photo3}}></a> -->
        <p>詳細：{{offers[s].detail}}</p>
    </div>
    <p></p>
    {% endfor %}



</div>

{% endblock %}
