<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>平泉町 町民総監視カメラ</title>
    <!-- CSS -->
    <link rel="stylesheet" href='../static/css/style.css'>
</head>

<body>
    <header class="page_header">
        <h1>
            <a class="logo" href="index.html">町民総監視カメラ</a>
        </h1>
        <div class="nav_list">
            <ul>
                <li><a class="nav" href="">利用規約</a></li>
                <li><a class="nav" href="signup.html">新規会員登録</a></li>
                <li><a class="nav" href="loginn.html">ログイン</a></li>
            </ul>
        </div>
    </header>

    {% block content %}{% endblock %}

    <footer class="page_footer">
        <h1>
            <a class="logo" href="index.html">町民総監視カメラ</a>
        </h1>
        <div class="address">
            <a>平泉町役場</a>
            &emsp;
            <a>TEL:0191-46-2111</a>
            <br>
            <a>岩手県西磐井郡平泉町平泉字羅山45-2</a>
        </div>
    </footer>
</body>
