{% extends "layout.html" %}

{% block content %}

<h1 class="h1">新規登録</h1>
<form action="/signup" method="post">

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>

<input type="" name="" value="name">
<input type="number" name="age" value="age">
<input type="radio" name="gender" value="male">男性
<input type="radio" name="gender" value="female">女性
<input type="text" name="address" placeholder="住所">
<input type="tel" name="tel" placeholder="ハイフンなし">
<input type="email" name="email" placeholder="Email">
<input type="password" name="password" placeholder="Password">
<input type="submit" value="新規登録">
</form>

{% endblock %}
