{% extends "layout.html" %}

{% block content %}


<div class="parent">
    <h1 class="child">新規登録</h1>
</div>

<form action="/signup" method="post">

    <div class="mb-5 col-4 offset-4">
        <label for="exampleFormControlInput1" class="form-label">名前</label>
        <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="平泉　太郎">
    </div>

    <div class="mb-5 col-4 offset-4">
        <label for="exampleFormControlInput1" class="form-label">年齢</label>
        <input type="number" name="age" class="form-control" id="exampleFormControlInput1" placeholder="年齢">
    </div>

    <div class="mb-5 col-4 offset-4">
        <label for="exampleFormControlInput1" class="form-label">性別</label>
        <select class="form-select mb-3" name="gender" aria-label="Default select example">
            <option selected>選択してください</option>
            <option value="男性">男性</option>
            <option value="女性">女性</option>
        </select>
    </div>

    <div class="mb-5 col-4 offset-4">
        <label for="exampleFormControlInput1" class="form-label">住所</label>
        <input type="text" name="address" class="form-control" id="exampleFormControlInput1" placeholder="住所">
    </div>

    <div class="mb-5 col-4 offset-4">
        <label for="exampleFormControlInput1" class="form-label">電話番号</label>
        <input type="tel" name="tel" class="form-control" id="exampleFormControlInput1" placeholder="ハイフンなし">
    </div>

    <div class="mb-5 col-4 offset-4">
        <label for="exampleFormControlInput1" class="form-label">メールアドレス</label>
        <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="aaa@email.com">
    </div>

    <div class="mb-5 col-4 offset-4">
        <label for="exampleFormControlInput1" class="form-label">パスワード</label>
        <input type="password" name="password" class="form-control" id="exampleFormControlInput1" placeholder="英数字8文字以上">
    </div>

    <div class="d-grid gap-2 col-3 mx-auto">
        <input class="btn btn btn-success" type="submit" value="新規登録">
    </div>
</form>

{% endblock %}
